<p>
    {"title": "{{ctrl.movie.title}}", "original_title": "{{ctrl.movie.original_title}}", "release_date": {{ctrl.movie.release_date | date: 'yyyy'}}, "mark": 0, "poster": "http://image.tmdb.org/t/p/w185{{ctrl.movie.poster_path}}", "genre": "<span ng-repeat="genre in ctrl.movie.genres">{{genre.name}}, </span>"},
</p>