html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

button {
  cursor: pointer;

  &:focus, &:active {
    outline: none;
  }
}

$topbarColor: #303030;
$containerColor: #212121;
$imageColor: #303030;

$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

$globalBackgroundColor: #ECECEC;
$display4Size: calc(112px + 1px);
$display4Weight: $light;
$display3Size: calc(56px + 1px);
$display3Weight: $regular;
$display2Size: calc(45px + 1px);
$display2Weight: $regular;
$display1Size: calc(34px + 1px);
$display1Weight: $regular;
$headlineSize: calc(24px + 1px);
$headlineWeight: $regular;
$titleSize: calc(20px + 0px);
$titleWeight: $medium;
$subheadingSize: calc(16px + 1px);
$subheadingWeight: $regular;
$body2Size: calc(14px + 1px);
$body2Weight: $medium;
$body1Size: calc(14px + 1px);
$body1Weight: $regular;
$captionSize: calc(12px + 1px);
$captionWeight: $bold;
$buttonSize: calc(14px + 1px);
$buttonWeight: $medium;

.font-title {
  font-size: $titleSize;
  line-height: $titleSize;
  font-weight: $titleWeight;
}

.font-headline {
  font-size: $headlineSize;
  line-height: $headlineSize;
  font-weight: $headlineWeight;
}

.font-subheading {
  font-size: $subheadingSize;
  line-height: $subheadingSize;
  font-weight: $subheadingWeight;
}

.font-body2 {
  font-size: $body2Size;
  line-height: 16px;
  font-weight: $body2Weight;
}

.font-body1 {
  font-size: $body1Size;
  line-height: 16px;
  font-weight: $body1Weight;
}

.font-button {
  font-size: $buttonSize;
  line-height: $buttonSize;
  font-weight: $buttonWeight;
}

.font-display1 {
  font-size: $display1Size;
  line-height: $display1Size;
  font-weight: $display1Weight;
}

.font-display2 {
  font-size: $display2Size;
  line-height: $display2Size;
  font-weight: $display2Weight;
}

.font-display3 {
  font-size: $display3Size;
  line-height: $display3Size;
  font-weight: $display4Weight;
}

.font-display4 {
  font-size: $display4Size;
  font-weight: $display4Weight;
}

.menu {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 20px;

  .link {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 4px;
    text-transform: uppercase;

    &.selected {
      border-bottom: 2px solid white;
    }
  }
}

.topbar {
  background-color: $topbarColor;
  height: 56px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: #fff;
  z-index: 5;

  .left-icon {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 16px;
    bottom: 0;
    width: 56px;
    line-height: 56px;
    border: none;
    font-size: 20px;
    color: #fff;
  }

  .text {
    position: absolute;
    top: 0;
    left: 72px;
    bottom: 0;
    right: 0;
    line-height: 56px;

    p {
      line-height: 56px;
    }
  }
}

.sidebar {
  &.active {
    .smoke {
      display: block;
    }

    .content {
      transform: translateX(0px);
    }
  }

  .smoke {
    display: none;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 40;
  }

  .content {
    transition: transform ease-out 0.2s;
    transform: translateX(-300px);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 300px;
    background-color: white;
    min-height: 100%;
    z-index: 45;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.35);

    .single-line-item {
      height: 48px;
      cursor: pointer;
      padding-left: 16px;

      p {
        line-height: 48px;
      }

      &:hover {
        background-color: #e0e0e0;
      }
    }

    .divider {
      margin: 8px 0;
      height: 1px;
      background-color: #bdbdbd;
    }

    .image {
      height: 150px;
      background-color: $imageColor;
      position: relative;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23);
      color: #fff;

      p {
        position: absolute;
        bottom: 0;
        padding-left: 16px;
        padding-bottom: 16px;
      }
    }
  }
}

.container {
  .topbar-extend {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23);
    background-color: $topbarColor;
  }

  text-align: center;
  background-color: $containerColor;
  min-height: calc(100% - 56px);
  position: absolute;
  left: 0;
  right: 0;
  top: 56px;
}

.movie-container {
  max-width: 500px;
  display: inline-block;
  text-align: left;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 5px;
}

.movie {
  width: 100%;
  position: relative;
  box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
  border-radius: 2px;
  transition: box-shadow ease-out 0.2s, background-color ease-out 0.2s;
  background-color: #fff;

  &:hover {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 5px 0 rgba(0,0,0,.23);
    background-color: #E0E0E0;
  }

  .left-part {
    background-repeat: no-repeat;
    background-position: 49% 20%;
    background-size: cover;
    position: absolute;
    border-radius: 2px 0 0 2px;
    top: 0;
    left: 0;
    bottom: 0;
  }

  .right-part {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;

    .author {
      color: #546E7A;
    }

    .date {
      color: #546E7A;
    }

    .mark {
      position: absolute;
      bottom: 0;
      left: 0;
      color: #FB8C00;
    }
  }
}

.fab {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 56px;
  width: 56px;
  background-color: #E91E63;
  text-align: center;
  color: #fff;
  border-radius: 56px;
  font-size: 20px;
  box-shadow: 0 10px 10px 0 rgba(0,0,0,.19), 0 6px 3px 0 rgba(0,0,0,.23);
  border: none;
  transition: box-shadow ease-out 0.2s;
  cursor: pointer;

  &:focus, &:active {
    outline: none;
  }

  &:hover {
    box-shadow: 0 14px 14px 0 rgba(0,0,0,.25), 0 10px 5px 0 rgba(0,0,0,.22);
  }

  i {
    line-height: 56px;
  }
}

body.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;

  .smoke {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 50;
  }

  &.active {
    display: block;
  }

  .content {
    z-index: 55;
    background-color: #fff;
    max-width: 492px;
    width: calc(100% - 16px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 2px;

    .title {
      padding: 24px 24px 20px 24px;
    }

    .text {
      padding: 0 24px 20px 24px;
    }

    .button {
      height: 52px;
      padding: 8px 8px 8px 24px;

      button {
        font-size: $buttonSize;
        line-height: $buttonSize;
        font-weight: $buttonWeight;
        height: 36px;
      }
    }

    .search {
      text-align: center;

      input[type=text] {
        width: 100%;
        -webkit-appearance: none;
        box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
        border: none;
        border-radius: 2px;
        height: 36px;
        padding-left: 16px;
        padding-right: 16px;
        font-size: 16px;
        font-family: Roboto, sans-serif;
        font-weight: 300;

        &:focus, &:active {
          outline: none;
        }
      }
    }

    .close-btn {
      position: absolute;
      bottom: 8px;
      right: 8px;
      -webkit-appearance: none;
      border: none;
      color: #009688;
      background-color: transparent;
      text-transform: uppercase;
      font-weight: 500;
      font-family: Roboto, sans-serif;
      font-size: 15px;
      padding-left: 8px;
      padding-right: 8px;
    }

    .filter {
      color: #000;

      & > span {
        margin-right: 10px;
        font-size: 16px;
      }

      button {
        background-color: transparent;
        -webkit-appearance: none;
        height: 36px;
        border-radius: 2px;
        border: none;
        min-width: 72px;
        padding-left: 16px;
        padding-right: 16px;
        font-family: Roboto, sans-serif;
        margin-left: 4px;
        margin-right: 4px;
        text-transform: uppercase;
        cursor: pointer;
        color: #000;
        position: relative;
        font-size: $buttonSize;
        line-height: $buttonSize;
        font-weight: $buttonWeight;

        &:first-child {
          margin-left: 0;
        }

        & > span {
          position: absolute;
          top: 50%;
          right: 12px;
          transform: translateY(-50%);
        }

        &:focus, &:active {
          outline: none;
        }

        &.selected {
          padding-right: 32px;
          background-color: #009688;
          box-shadow: 0 1px 1.5px 0 rgba(0,0,0,.12), 0 1px 1px 0 rgba(0,0,0,.24);
          color: #fff;
        }
      }
    }
  }
}

$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

@media (max-width: $screen-xs-max) {
  .topbar-extend {
    height: 55px;
  }
  .movie {
    height: 110px;
  }
  .movie-container {
    width: 100%;
    padding-left: 8px;
    padding-right: 8px;

    .left-part {
      width: 40%;
    }

    .right-part {
      left: 40%;

      .title {
        font-weight: bold;
        font-size: 17px;
        padding: 12px 10px 5px 10px;
      }

      .subtitle {
        padding: 0 10px;
      }

      .mark {
        padding-left: 10px;
        padding-bottom: 8px;
      }
    }
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  .topbar-extend {
    height: 65px;
  }
  .movie {
   height: 130px;
  }
  .movie-container {
    min-width: 400px;
    width: 100%;

    .left-part {
      width: 40%;
    }

    .right-part {
      left: 40%;

      .title {
        font-size: 18px;
        padding: 20px 16px 10px 16px;
      }

      .subtitle {
        padding: 0 16px 0 16px;
      }

      .mark {
        padding-left: 16px;
        padding-bottom: 20px;
      }
    }
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  .topbar-extend {
    height: 75px;
  }
  .movie {
    height: 150px;
  }
  .movie-container {
    min-width: 400px;
    width: calc(50% - 8px);

    .left-part {
      width: 100%;
      max-width: 200px;
    }

    .right-part {
      left: 200px;

      .title {
        font-size: 20px;
        padding: 20px 16px 10px 16px;
      }

      .subtitle {
        padding: 0 16px 0 16px;
      }

      .mark {
        padding-left: 16px;
        padding-bottom: 20px;
      }
    }
  }
}

@media (min-width: $screen-lg-min) {
  .topbar-extend {
    height: 75px;
  }
  .movie {
    height: 150px;
  }
  .movie-container {
    min-width: 400px;
    width: calc(33.3333% - 16px);

    .left-part {
      width: 100%;
      max-width: 200px;
    }

    .right-part {
      left: 200px;

      .title {
        font-size: 20px;
        padding: 20px 16px 10px 16px;
      }

      .subtitle {
        padding: 0 16px 0 16px;
      }

      .mark {
        padding-left: 16px;
        padding-bottom: 20px;
      }
    }
  }
}