<div class="sidebar" ng-class="{'active': ctrl.displaySidebar}">

<div class="smoke" ng-click="ctrl.toggleSidebar(false)"></div>
<div class="content">
    <div class="image">
        <p class="font-title">MyList</p>
    </div>
    <div class="single-line-item">
        <p class="font-body2">Films</p>
    </div>
    <div class="single-line-item">
        <p class="font-body2">Séries</p>
    </div>
    <div class="single-line-item">
        <p class="font-body2">Mangas</p>
    </div>
    <div class="single-line-item">
        <p class="font-body2">Jeux Vidéos</p>
    </div>
    <div class="divider"></div>
</div>
</div>