<div class="topbar">
    <button ng-click="ctrl.toggleSidebar(true)" class="left-icon">
        <i class="fa fa-bars"></i>
    </button>
    <div class="text">
        <p class="font-title">MyList</p>
    </div>
</div>


<div class="container" infinite-scroll>
    <div class="topbar-extend"></div>
    <div class="movie-container" ng-repeat="movie in ctrl.filteredList = (ctrl.movies | filter:ctrl.search | orderBy:ctrl.filter.value) | limitTo: ctrl.limit track by $index">
        <movie></movie>
    </div>
    <div ng-show="ctrl.filteredList.length === 0">
        Aucun résultat
    </div>
</div>

<button type="button" class="fab" ng-click="ctrl.toggleModal(true)"><i class="fa fa-filter"></i></button>

<div class="modal" ng-class="{'active': ctrl.displayModal}">
    <div class="smoke" ng-click="ctrl.toggleModal(false)"></div>
    <div class="content">
        <div class="title">
            <p class="font-title">Filtrer</p>
        </div>
        <div class="text">
            <p class="font-body1" style="margin-bottom: 8px;">Rechercher</p>
            <div class="search">
                <input type="text" placeholder="Titre d'un film, Réalisateur, Année, Note..." ng-model="ctrl.search.$" ng-model-options="{debounce: {'default': 100, 'blur': 0}}">
            </div>
            <p class="font-body1" style="margin-top: 16px; margin-bottom: 8px;">Trier</p>
            <div class="filter">
                <button type="button" ng-click="ctrl.setFilter('title')" ng-class="{'selected': ctrl.filter.name === 'title' || ctrl.filter.name === '-title'}">Nom <span ng-show="ctrl.filter.name === 'title' || ctrl.filter.name === '-title'"><i class="fa" ng-class="{'fa-caret-down': ctrl.filter.name === '-title', 'fa-caret-up': ctrl.filter.name === 'title'}"></i></span></button><!--
        --><button type="button" ng-click="ctrl.setFilter('year')" ng-class="{'selected': ctrl.filter.name === 'year' || ctrl.filter.name === '-year'}">Date <span ng-show="ctrl.filter.name === 'year' || ctrl.filter.name === '-year'"><i class="fa" ng-class="{'fa-caret-down': ctrl.filter.name === 'year', 'fa-caret-up': ctrl.filter.name === '-year'}"></i></span></button><!--
        --><button type="button" ng-click="ctrl.setFilter('mark')" ng-class="{'selected': ctrl.filter.name === 'mark' || ctrl.filter.name === '-mark'}">Note <span ng-show="ctrl.filter.name === 'mark' || ctrl.filter.name === '-mark'"><i class="fa" ng-class="{'fa-caret-down': ctrl.filter.name === 'mark', 'fa-caret-up': ctrl.filter.name === '-mark'}"></i></span></button>
            </div>
        </div>
        <div class="button">
            <button class="close-btn" ng-click="ctrl.toggleModal(false)">FERMER</button>
        </div>
    </div>
</div>