<div class="movie">
    <div class="left-part" ng-style="{'background-image': 'url(' + movie.poster + ')'}"></div>
    <div class="right-part">
        <p class="title font-body2" ng-bind="movie.title"></p>
        <p class="subtitle font-body1"><span class="date" ng-bind="movie.release_date"></span> - <span class="author" ng-bind="movie.genre"></span></p>
        <p class="mark" title="{{ movie.mark === 1 ? 'Désastreux' : movie.mark === 2 ? 'Médiocre' : movie.mark === 3 ? 'Bon' : movie.mark === 4 ? 'Excellent' : 'Magistral'}}">
            <i class="fa" ng-class="{'fa-star':movie.mark >= 1, 'fa-star-o':movie.mark < 1}"></i>
            <i class="fa" ng-class="{'fa-star':movie.mark >= 2, 'fa-star-o':movie.mark < 2}"></i>
            <i class="fa" ng-class="{'fa-star':movie.mark >= 3, 'fa-star-o':movie.mark < 3}"></i>
            <i class="fa" ng-class="{'fa-star':movie.mark >= 4, 'fa-star-o':movie.mark < 4}"></i>
            <i class="fa" ng-class="{'fa-star':movie.mark === 5, 'fa-star-o':movie.mark < 5}"></i>
        </p>
    </div>
</div>